extends layout

block content
    div.jumbotron.text-center
        h2 Asana Organization MGMT
        p Login using your Asana credentials to begin
        a.button(href='/signin'): img(src='https://github.com/Asana/oauth-examples/blob/master/public/asana-oauth-button-blue.png?raw=true')
